.home-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adidas-svg {
  position: relative;
  bottom: 7rem;
  right: 3rem;
}

.adidas-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  position: relative;
  bottom: 8.5rem;
  left: 2rem;
  font-size: 4rem;
  letter-spacing: 7px;
}

.scroll-link {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}

.scroll-btn {
  position: relative;
  display: flex;
  bottom: 5rem;
  font-size: 1.5rem;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 0.3rem;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
}

.scroll {
  margin: 0.5rem;
}

.scroll-btn:hover{
  color: #24293e;
  border: 2px solid #fff;
  background-color: #fff;
}
